<%= form_for(@url) do |f| %>
  <% if @url.errors.any? %>
    <div class="alert alert-warning">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <h2><%= pluralize(@url.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
      <% @url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.text_field :original_url, class: "form-control", placeholder: "Original URL" %>
      </div>
    </div>
    <div class="col-md-2">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
