<div class="row">
  <div class="col-md-2"><h1>URLs</h1></div>
  <div class="col-md-2" style="margin-top: 20px;margin-bottom: 10px;">
    <%= link_to new_url_path, class: "btn btn-primary btn-md", style: "color:white;" do %>
      <span class="glyphicon glyphicon-plus-sign"></span> New Url
    <% end %>
  </div>
</div>
<br/>
<table class="table table-inverse" style="table-layout:fixed;">
  <thead>
    <tr>
      <th class="col-md-6">Original url</th>
      <th class="col-md-3">Shorty</th>
      <th class="col-md-3">Operations</th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td style="display: block;overflow: hidden;text-overflow: ellipsis;"><%= url.original_url %></td>
        <td><%= url.shorty %></td>
        <td><%= link_to 'Show', url %> | <%= link_to 'Edit', edit_url_path(url) %> | <%= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="digg_pagination" style="text-align:center;">
  <div class="page_info">
    <%= page_entries_info @urls %>
  </div>
  <%= will_paginate @urls, :container => false %>
</div>
